
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Poppins',sans-serif;background: black;
}

.navbar{
	padding: 40px;
}
.innavbar{	width: 100%;

	display:grid;grid-template-columns: 45% 40%;
}

li{

	list-style-type: none !important;
}
a{
	text-decoration: none !important;
}
.portfolio{width: 80%;
	margin: auto;
}
.span{
	color:rgb(252,170,34);font-weight: 100;
	font-family: 'Poppins',sans-serif;letter-spacing: 1px;
	font-size: 30px;
}
.porto{
	color:white;
	font-family: 'Poppins',sans-serif;
	font-size: 40px;letter-spacing: 4px;
}
.headings{

	display:grid;grid-template-columns: 120px 140px 130px 150px 140px 120px;


	transform:scaleY(1);transition: all 1s ease;
}
.link{font-weight: 100;
		color:rgb(252,170,34);font-size: 17px;
letter-spacing: 2px;transition: all 1s ease;

}
.link:hover{position: relative;
color: white;

transition: all 1s ease;

}


.link:hover::after{

	content: '';left: 5px;top: -10px;
position: absolute;width: 20px;height: 2px;background: white;transition: all 1s ease;

}

.headings .link .brackets{
	color: white;transition: all 1s ease;
}



.dot{font-size: 20px;
	color: white;
}











.headings .link:hover .brackets{
color: #fcaa22;transition: all 1s ease;
}














@media (max-width: 425px)


{

.collapse{
	background: transparent;
}
.toggle{
	background:white;
;
margin: auto;
margin-left: 120px;

	width: 50px;height: 33px;
	font-size: 15px;margin-top:40px;

}

.navbar{
	padding: 0px;width: 90%;
	
}
.innavbar{	width: 100%;


	
}

li{

	list-style-type: none !important;
}
a{
	text-decoration: none !important;
}
.portfolio{margin-top: 20px;
}
.span{
	color:rgb(252,170,34);font-weight: 500;
	font-family: 'Poppins',sans-serif;letter-spacing: 1px;
	font-size: 30px;
}
.porto{
	color:white;padding: 20px;
	font-family: 'Poppins',sans-serif;
	font-size: 20px;letter-spacing: 1px;
}
.headings{text-align: center;

	display:flex;flex-direction: column;grid-gap: 10px;
}
.link{font-weight: 100;text-align:left;width: 100%;

		color:rgb(252,170,34);font-size: 13px;margin-left: 30px;
}


.link:hover::after{

	content: '';left: 3px;top: 10px;
position: absolute;width: 25px;height: 1px;background: white;transition: all 1s ease;

}




}